@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  margin: 0;
  font-family: "Raleway";
  font-size: 16px;
  line-height: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./src/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: 1024px;
  background-color: rgba(171, 200, 207, 0.7);
  float: center;
  display: inline-block;
}

img {
  width: 13rem;
  display: block;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

section {
  margin-left: 1em;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-transform: uppercase;
  font-weight: bold;
}

/* p {
  display: block;

} */

footer {
  padding: 1em 1.5em;
  background: #494949;
  color: white;
  text-align: left;
  display: block;
}

footer h4 {
  font-size: 2em;
}

.open-certificate {
  background-color: #69acac;
  box-shadow: 0 5px 0 #2f4f4f;
  color: white;
  padding: 0.09em 0.1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.open-certificate:hover {
  background-color: #008b8b;
}

.open-certificate:active {
  box-shadow: none;
  top: 5px;
}

.contact-links {
  color: white;
}
