@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.8em;
}

.container {
  max-width: 1024px;
  background-color: rgb(205, 205, 192);
  float: center;
  display: inline-block;
  margin-left: 11rem;
}

img {
  width: 13rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin-left: 1em;
}

h1 {
  text-align: center;
  font-size: 3em;
}

p {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  padding: 1em 1.5em;
  background: #A7B8BF;
  color: white;
  text-align: left;
  display: block;
}

footer h4 {
  font-size: 2em;
}